<footer>
    <div class="container d-flex flex-column justify-content-center align-items-center">
        <div class="col-10">
            <div class="footer-links col-10">
                <div class="row flex-grow-1">
                    <div class="col d-flex flex-column">
                        <div class="footer-link"><a href="">About us</a></div>
                        <div class="footer-link"><a href="">Contact</a></div>
                        <div class="footer-link"><a href="">Terms</a></div>
                    </div>
                    <div class="col d-flex flex-column text-center">
                        <div class="footer-link"><a href="/write">Write</a></div>
                        <div class="footer-link"><a href="/posts">Explore</a></div>
                        <div class="footer-link"><a href="">Support</a></div>
                    </div>
                    <div class="col d-flex flex-column text-end">
                        <div class="footer-link"><a href="">Premium</a></div>
                        <div class="footer-link"><a href="">Careers</a></div>
                        <div class="footer-link"><a href="">Sponsors</a></div>
                    </div>
                </div>
            </div>
            <div class="footer-logo text-center">
                <div class="footer-logo-container">
                    <img src="/assets/img/icons/logo-icon.svg" alt="verbumWell-logo">
                </div>
            </div>
            <div class="footer-copy text-center">
                &copy <a href="https://noiyy.eu/" target="_blank">Noiyy</a> 2024, all rights reserved
            </div>
        </div>
    </div>
</footer>