<div class="d-flex write-container flex-column image">
    <div class="write-input-wrapper heading">
        <div class="d-flex write-type-info align-items-center">
            <div class="d-flex img-cont justify-content-center align-items-center">
                <img src="./assets/img/icons/image.svg">
            </div>
            Image
        </div>
        <div class="d-flex write-btn-options align-items-center">
            <button class="btn btn-secondary btn-icon" onclick="clearOption(event)">
                <img src="./assets/img/icons/refresh.svg" alt="clear">
            </button>
            <button class="btn btn-secondary btn-icon" onclick="deleteOption(event)">
                <img src="./assets/img/icons/delete.svg" alt="delete">
            </button>
        </div>

        <div class="file-input-options">
            <input form="writeForm" type="file" accept="image/*" class="form-control" name="imgLocation" required>

            <div class="d-flex img-form-group-cont">
                <div class="form-group flex-grow-1">
                    <label for="imgAlt">Image alt</label>
                    <input form="writeForm" type="text" class="form-control" name="imgAlt">
                </div>
                <div class="form-group flex-grow-1">
                    <label for="creditName">Credit name</label>
                    <input form="writeForm" type="text" class="form-control" name="creditName">
                </div>
            </div>

            <div class="d-flex img-form-group-cont">
                <div class="form-group flex-grow-1">
                    <label for="creditLink">Credit link</label>
                    <input form="writeForm" type="text" class="form-control" name="creditLink">
                </div>
            </div>
        </div>
        <div class="file-view-cont d-flex justify-content-center align-items-center">
            <img src="./assets/img/pg_semestralka-2-s.jpg" alt="uploadedImg">
        </div>
    </div>
</div>