<div class="d-flex write-container flex-column linebreak is-idle">
    <div class="write-input-wrapper heading d-flex justify-content-center">
        <div class="d-flex write-type-info align-items-center">
            <div class="d-flex img-cont justify-content-center align-items-center">
                <img src="./assets/img/icons/linebreak.svg">
            </div>
            Linebreak
        </div>
        <div class="d-flex write-btn-options align-items-center">
            <button class="btn btn-secondary btn-icon" onclick="deleteOption(event)">
                <img src="./assets/img/icons/delete.svg" alt="delete">
            </button>
        </div>

        <div class="d-flex line-break-separator"></div>
        
        <button class="btn transparent-bg btn-icon w-reorder-btn">
            <div class="w-reorder-btn-img"></div>
        </button>
    </div>
</div>