<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>VW | Home</title>
        <link rel="stylesheet" href="./assets/css/main.css">
        <link rel="stylesheet" href="./assets/css/home.css">
        <link rel="stylesheet" href="./assets/css/auth.css">
        <link rel="icon" href="./assets/img/logo-small.ico" type="image/x-icon">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="./assets/css/mediaQueries.css">

        <script src="./assets/js/counter.js" defer></script>
        <script src="./assets/js/sidebarHandler.js" defer></script>
        <script src="./assets/js/misc.js" defer></script>
    </head>
    <body style="overflow: hidden;">
        <div class="page-load-animation"></div>
        <div class="page-load-overlay"></div>
        
        <header>
            <div class="container">
                <div class="row d-flex justify-content-between align-items-center">
                    <div class="col-8">
                        <a href="./index.html" class="a-plain"><img class="header-logo-img" src="./assets/img/logo.svg" alt="VerbumWell"></a>
                    </div>
                    <div class="col-4 d-flex justify-content-end menu-icons">
                        <a class="a-plain menu-btn"> <img src="./assets/img/icons/menu-icon.svg" alt="Menu" id="menuToggleBtn" class="animateMenuBtn"> </a>
                    </div>
                </div>
            </div>
        </header>

        <div class="auth-modal justify-content-center align-items-center">
            <div class="auth-modal-body d-flex flex-column">
                <div class="auth-modal-header d-flex justify-content-between align-items-center">
                    <h3 class="heading h-3 gradient text-center">Sign in</h3>
                    <div class="d-flex btn close-btn" onclick="hideAuthModal()">
                        <img src="./assets/img/icons/menu-icon-close.svg" alt="close">
                    </div>
                </div>
                <div class="auth-modal-content">
                    <form action="">
                        <div class="mb-3">
                            <label for="email" class="form-label">E-mail</label>
                            <input type="email" class="form-control" id="email" name="email">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                        <div class="form-submit d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary">Sign In</button>
                        </div>
                    </form>
                        <p class="other-option d-flex flex-column align-items-center text-center">
                            Don't have an account yet? <a href="" class="text-center ">Sign up</a>
                        </p>
                </div>
                <div class="auth-modal-footer">

                </div>
            </div>
        </div>

        <div id="sidebar-menu" class="d-flex justify-content-end">
            <nav class="d-flex flex-column flex-grow-1 justify-content-end">
                <a class="user-avatar d-flex justify-content-end a-plain imgLink" href="./user.html">
                    <div class="imgCont r50p">
                        <img src="./assets/img/pg_semestralka-2-s.jpg" alt="user-avatar">
                        <div class="user-avatar-misc d-flex align-items-end">
                            <span class="badge text-bg-danger">Admin</span>
                            <div class="priemium-icon-cont d-flex justify-content-center align-items-center"><img class="user-premium-icon" src="./assets/img/icons/star.svg" alt="premium"></div>
                        </div>
                    </div>
                </a>

                <div class="sidebar-btns auth d-flex justify-content-end" onclick="showAuthModal()">
                    <h6 class="btn">Sign In</h6>
                </div>
                <!-- signup/login -->
                <div class="d-flex flex-column">
                    <a href="./index.html" class="active">Home</a>
                    <a href="./adminPanel.html">Admin panel</a>
                    <a href="./write.html" class="disabled">Write</a>
                    <a href="./posts.html" >Explore</a>
                    <a href="" >About us</a>
                    <a href="" >Contact</a>
                </div>
                <!-- logout -->
                <div class="sidebar-btns logout d-flex justify-content-end">
                    <h6 class="btn">Logout</h6>
                </div>
            </nav>
        </div>

        <section id="hero" class="d-flex align-items-center">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col">
                        <h1 class="heading h-1"> Bring <span class="outline">your</span> ideas & <span class="block-underline">stories</span>
                             into <span class="gradient">life</span>
                        </h1>
                        <div class="hero-btn-group">
                            <a class="btn btn-secondary a-plain" href="./posts.html">Explore</a>
                            <a class="btn btn-primary a-plain" onclick="showAuthModal()">Sign In</a>
                        </div>
                    </div>
                    <div class="col bento"></div>
                </div>
            </div>
        </section>

        <section id="stat-cards">
            <div class="container d-flex flex-column justify-content-center">
                <div class="d-flex justify-content-end">
                    <h1 class="heading h-1 cards-title">We help you be heard</h1>
                </div>
                <div class="cards-wrapper row d-flex flex-grow-1">
                    <div class="col-4">
                        <div class="stat-card d-flex justify-content-center align-items-center">
                            <h1 class="heading h-1 gradient numberCount" data-count="109"></h1>
                            <h2 class="heading h-2"> Posts </h2>
                            <p>... and counting ... </p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="stat-card d-flex justify-content-center align-items-center">
                            <h1 class="heading h-1 gradient numberCount" data-count="171"></h1>
                            <h2 class="heading h-2"> Posts </h2>
                            <p>... and counting ... </p>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="stat-card d-flex justify-content-center align-items-center">
                            <h1 class="heading h-1 gradient numberCount" data-count="67"></h1>
                            <h2 class="heading h-2"> Posts </h2>
                            <p>... and counting ... </p>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <h3 class="heading h-3 outline"> Never stopping growing... </h3>
                </div>
            </div>
        </section>

        <section id="post-cards">
            <div class="container flex-column d-flex">
                <div class="d-flex justify-content-end">
                    <h1 class="heading h-1"> newest posts </h1>
                </div>
                <div class="cards-wrapper row d-flex">
                    <div class="col-6 card-col">
                        <div class="post-card primary">
                            <div class="post-card-overlay">
                                <h2 class="heading h-2 uppercase"> view</h2>
                                <img src="./assets/img/icons/arrow-up-right.svg">
                            </div>
                            <div class="card-content">
                                <div class="card-header-img">
                                    <img src="./assets/img/pg_semestralka-2-s.jpg" alt="img">
                                    <p class="card-img-author poppins-light-italic thin"> Peter Brady </p>
                                </div>
                                <div class="card-body-text">
                                    <div class="card-text">
                                        <h5 class="card-heading gradient"> Lorem ipsum </h5>
                                        <p>Pizza ipsum dolor meat lovers buffalo. Pie extra marinara style pepperoni pesto fresh roll. Tomatoes dolor hand bacon NY. </p>
                                    </div>
                                    <div class="card-footer d-flex justify-content-end align-items-center">
                                        <p class="poppins-light-italic thin">8 min read</p>
                                        <div class="circle-divider-xs"></div>
                                        <p class="poppins-thin-italic" style="font-size: 16px;"> 3.4.2024 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-card accent">
                            <div class="post-card-overlay">
                                <h2 class="heading h-2 uppercase"> view</h2>
                                <img src="./assets/img/icons/arrow-up-right.svg">
                            </div>
                            <div class="card-content">
                                <div class="card-header-img">
                                    <img src="./assets/img/pg_semestralka-2-s.jpg" alt="img">
                                    <p class="card-img-author poppins-light-italic thin"> Peter Brady </p>
                                </div>
                                <div class="card-body-text">
                                    <div class="card-text">
                                        <h5 class="card-heading gradient"> Lorem ipsum </h5>
                                        <p>Pizza ipsum dolor meat lovers buffalo. Pie extra marinara style pepperoni pesto fresh roll. Tomatoes dolor hand bacon NY. </p>
                                    </div>
                                    <div class="card-footer d-flex justify-content-end align-items-center">
                                        <p class="poppins-light-italic thin">8 min read</p>
                                        <div class="circle-divider-xs"></div>
                                        <p class="poppins-thin-italic" style="font-size: 16px;"> 3.4.2024 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <h3 class="heading h-3">
                            <a href="" class="a-plain">
                                ... <span class="block-underline link">view more</span>
                                <img src="./assets/img/icons/arrow-up-right.svg" alt="">
                            </a>
                        </h3> -->
                    </div>
                    <div class="col-6 second-col card-col">
                        <div class="post-card accent">
                            <div class="post-card-overlay">
                                <h2 class="heading h-2 uppercase"> view</h2>
                                <img src="./assets/img/icons/arrow-up-right.svg">
                            </div>
                            <div class="card-content">
                                <div class="card-header-img">
                                    <img src="./assets/img/pg_semestralka-2-s.jpg" alt="img">
                                    <p class="card-img-author poppins-light-italic thin"> Peter Brady </p>
                                </div>
                                <div class="card-body-text">
                                    <div class="card-text">
                                        <h5 class="card-heading gradient"> Lorem ipsum </h5>
                                        <p>Pizza ipsum dolor meat lovers buffalo. Pie extra marinara style pepperoni pesto fresh roll. Tomatoes dolor hand bacon NY. </p>
                                    </div>
                                    <div class="card-footer d-flex justify-content-end align-items-center">
                                        <p class="poppins-light-italic thin">8 min read</p>
                                        <div class="circle-divider-xs"></div>
                                        <p class="poppins-thin-italic" style="font-size: 16px;"> 3.4.2024 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="post-card primary">
                            <div class="post-card-overlay">
                                <h2 class="heading h-2 uppercase"> view</h2>
                                <img src="./assets/img/icons/arrow-up-right.svg">
                            </div>
                            <div class="card-content">
                                <div class="card-header-img">
                                    <img src="./assets/img/pg_semestralka-2-s.jpg" alt="img">
                                    <p class="card-img-author poppins-light-italic thin"> Peter Brady </p>
                                </div>
                                <div class="card-body-text">
                                    <div class="card-text">
                                        <h5 class="card-heading gradient"> Lorem ipsum </h5>
                                        <p>Pizza ipsum dolor meat lovers buffalo. Pie extra marinara style pepperoni pesto fresh roll. Tomatoes dolor hand bacon NY. </p>
                                    </div>
                                    <div class="card-footer d-flex justify-content-end align-items-center">
                                        <p class="poppins-light-italic thin">8 min read</p>
                                        <div class="circle-divider-xs"></div>
                                        <p class="poppins-thin-italic" style="font-size: 16px;"> 3.4.2024 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="heading h-3">
                        <a href="" class="a-plain">
                            ... <span class="block-underline link">view more</span>
                            <img src="./assets/img/icons/arrow-up-right.svg" alt="">
                        </a>
                    </h3>
                </div>
            </div>
        </section>

        <footer>
            <div class="container d-flex flex-column justify-content-center align-items-center">
                <div class="col-10">
                    <div class="footer-links col-10">
                        <div class="row flex-grow-1">
                            <div class="col d-flex flex-column">
                                <div class="footer-link"><a href="">Lorem ipsum</a></div>
                                <div class="footer-link"><a href="">Lorem ipsum</a></div>
                                <div class="footer-link"><a href="">Lorem ipsum</a></div>
                            </div>
                            <div class="col d-flex flex-column text-center">
                                <div class="footer-link"><a href="">Lorem ipsum</a></div>
                                <div class="footer-link"><a href="">Lorem ipsum</a></div>
                                <div class="footer-link"><a href="">Lorem ipsum</a></div>
                            </div>
                            <div class="col d-flex flex-column text-end">
                                <div class="footer-link"><a href="">Lorem ipsum</a></div>
                                <div class="footer-link"><a href="">Lorem ipsum</a></div>
                                <div class="footer-link"><a href="">Lorem ipsum</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="footer-logo text-center">
                        <div class="footer-logo-container">
                            <img src="./assets/img/icons/logo-icon.svg" alt="verbumWell-logo">
                        </div>
                    </div>
                    <div class="footer-copy text-center">
                        &copy <a href="https://noiyy.eu/" target="_blank">Noiyy</a> 2024, all rights reserved
                    </div>
                </div>
            </div>
        </footer>

        <div class="scroll-to-top" id="scrollToTopBtn">
            <img src="./assets/img/icons/arrow-up.svg">
        </div>
    </body>
</html>